<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.bstu.besman.lw3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Users"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LW3">
        <activity android:name=".UserEdit"></activity>
        <activity android:name=".UserInfo" />
        <activity android:name=".UserContactInfo" />
        <activity android:name=".AcceptanceUserCreation" />
        <activity android:name=".UserEducationInfo" />
        <activity android:name=".UserCountryInfo" />
        <activity android:name=".UserNameInfo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>